<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dnnxl.aprende_movil">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Pantalla_principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu_principal"
            android:label="@string/title_activity_menu_principal" />
        <activity
            android:name=".menu_llamadas"
            android:label="@string/title_activity_menu_llamadas" />
        <activity
            android:name=".llamar_contacto"
            android:label="@string/title_activity_llamar_contacto" />
        <activity
            android:name=".marcar_numero"
            android:label="@string/title_activity_marcar_numero" />
        <activity
            android:name=".buscador_web"
            android:label="@string/title_activity_buscador_web" />
        <activity
            android:name=".calendario"
            android:label="@string/title_activity_calendario" />
        <activity
            android:name=".emergencia"
            android:label="@string/title_activity_emergencia" />
        <activity
            android:name=".consejos_ayuda"
            android:label="@string/title_activity_consejos_ayuda" />
        <activity
            android:name=".correo"
            android:label="@string/title_activity_correo" />
        <activity
            android:name=".contactos"
            android:label="@string/title_activity_contactos"></activity>
    </application>

</manifest>